@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
/* styles from site */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  line-height: 1.15;
  background-color: #e5e5e5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  -webkit-appearance: none;
  appearance: none;
  font-display: swap;
  font-family: Roboto, sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 0 auto !important;
  max-width: 1500px;
  padding: 0 !important;
  background-color: #e5e5e5;
  color: #212529;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  text-align: left;
}
/* styles from site end*/

main.w-100.reset-background {
  background: unset;
}

.article {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: #403f3f;
  padding: 100px 0;
}

.article__header {
  padding-bottom: 95px;
}

.article__header .article__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: inherit;
  padding-bottom: 30px;
}

.article__header .article__description {
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  color: inherit;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.article__header .article__breadcrumbs--fake {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  list-style: none;
  counter-reset: breadcrumb;
}

.article__breadcrumbs--fake .article__breadcrumb-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: inherit;
}

.article__breadcrumbs--fake .article__breadcrumb-item::before {
  counter-increment: breadcrumb;
  content: counter(breadcrumb) ".";
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-right: 9px;
}

.article__content__block .article__content__block__title {
  font-family: inherit;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}

.article__content__block__list {
  position: relative;
  isolation: isolate;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: contentListItem;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-gap: 100px;
  -moz-column-gap: 100px;
  -webkit-column-gap: 100px;
}

.article__content__block__list__item {
  display: flex;
  flex-flow: row wrap;
  max-width: 650px;
  padding-bottom: 20px;
}

.article__content__block__list__item .list_item__description {
  display: inline-block;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  flex: 1 1;
  padding-bottom: 20px;
}

.article__content__block__list__item::before {
  counter-increment: contentListItem;
  content: counter(contentListItem);
  display: inline-block;
  width: 30px;
  aspect-ratio: 1;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: 6px 0;
  align-self: flex-start;
  margin-right: 10px;
}

.article__content__block__list__item img {
  display: block;
  width: 100%;
}

.article__content__block__list__item--catalog-link {
  position: absolute;
  bottom: 20px;
  background-image: url(/images/link__icon.png);
  background-repeat: no-repeat;
  background-size: 18px 22px;
  background-position: bottom left;
  padding: 5px 0 0 36px;
}
.article__content__block__list__item--catalog-link .list__item__link {
  display: inline-block;
  font-family: inherit;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: inherit;
  border-bottom: 1px solid currentColor;
}

.article__content__block__list__item--catalog-link .list__item__link:hover,
.article__content__block__list__item--catalog-link .list__item__link:focus,
.article__content__block__list__item--catalog-link .list__item__link:active {
  text-decoration: none;
  color: inherit;
}

.article__content__block__list__item--catalog-link::before {
  content: unset;
}

.article__content__block__list__item.article__content__block__list__item--post-descr {
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-top: 60px;
}
.article__content__block__list__item.article__content__block__list__item--post-descr::before {
  content: unset;
}

@media (min-width: 1400px) {
  .article {
    padding: 100px 40px;
  }
}

@media screen and (min-width: 747px) {
  .article {
    padding: 80px 34px;
  }
}
/** 748=> 947*/

@media screen and (min-width: 748px) and (max-width: 976px) {
  .article__content__block__list {
    column-gap: 60px;
    -moz-column-gap: 60px;
    -webkit-column-gap: 60px;
  }

  .article__content__block__list__item .list_item__description {
    font-size: 19px;
  }

  .article__content__block__list__item--catalog-link .list__item__link {
    font-size: 20px;
  }

  .article__content__block__list__item.article__content__block__list__item--post-descr {
    padding-top: 45px;
  }
}

@media screen and (max-width: 747px) {
  .article {
    padding: 50px 22px;
  }
  .article__header {
    padding-bottom: 40px;
  }
  .article__header .article__title {
    font-size: clamp(1.75rem, 0.2512rem + 7.4941vw, 3.75rem);
    line-height: 40px;
  }

  .article__header .article__description {
    font-size: 18px;
    line-height: 19.8px;
    padding-bottom: 15px;
  }

  .article__header .article__breadcrumbs--fake {
    gap: 10px;
  }

  .article__breadcrumbs--fake .article__breadcrumb-item {
    font-size: 16px;
    line-height: 16px;
  }

  .article__content__block .article__content__block__title {
    font-size: clamp(2.125rem, 1.844rem + 1.4052vw, 2.5rem);
    line-height: 40px;
    padding-bottom: 20px;
  }

  .article__content__block__list {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-gap: unset;
    -moz-column-gap: unset;
    -webkit-column-gap: unset;
  }

  .article__content__block__list__item {
    max-width: 100%;
    padding-bottom: 15px;
  }

  .article__content__block__list__item .list_item__description {
    font-size: clamp(0.875rem, 0.6876rem + 0.9368vw, 1.125rem);
    line-height: 19.8px;
    padding-bottom: 15px;
  }

  .article__content__block__list__item::before {
    width: 20px;
    font-size: 10px;
    padding: 4px 0;
  }

  .article__content__block__list__item--catalog-link {
    position: static;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .article__content__block__list__item--catalog-link .list__item__link {
    font-size: clamp(1.375rem, 1.094rem + 1.4052vw, 1.75rem);
  }
}
